body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: chocolate 3px solid;
  font-weight: bold;
}

header a:hover {
  color: chocolate;
  font-weight: bold;
}

nav {
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
}

section {
  padding: 100px;
  background-color: lightgrey;
  border-bottom: chocolate 2px solid;

}

span {
  color: chocolate;
}

.brief {
  text-align: center;
  text-decoration: underline;
}

.more {
  text-align: right;
  font-weight: bold;
  color: rgb(3, 51, 81);
}

.more :hover {
  color: chocolate;
}

.interest {
  text-align: center;
  text-decoration: underline;
}

li {
  font-weight: 510;
  line-height: 40px;
}

form {
  width: 300px;
  text-align: left;
}

input {
  width: 300px;
}

textarea {
  resize: none;
  max-height: 100px;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #ddd;
  text-align: center;
  color: white;
  font-weight: bold;
}

.form {
  font-weight: bold;
  padding: 15px;
  background: rgb(189, 122, 74);
  color: #ffffff;

}

.contact {
  text-align: justify;
  font-weight: bold;
  border-bottom: chocolate 2px solid;
}

.text{
  margin-top: 20px;
}

.img{
  width: 200px;
  height: 200px;
  border-radius: 50%
}